.*
!.gitingore
*bin
*/data
java/code/corejava

x64
x86
*.sln
*.db
*.opendb
*.vcxproj
*.filters
out
webpack_sample/node_modules/

# python
python/demo/venv
*__pycache__
Java/code/web/mvnw.cmd
Java/code/web/mvnw
