.*
!.gitingore
*bin
*/data
java/code/corejava

x64
x86
*.sln
*.db
*.opendb
*.vcxproj
*.filters
out
webpack_sample/node_modules/
python/demo/venv
python/demo/__pycache__/manage.cpython-38.pyc
python/demo/web/migrations/__pycache__/__init__.cpython-38.pyc
python/demo/demo/__pycache__/urls.cpython-38.pyc
python/demo/demo/__pycache__/wsgi.cpython-38.pyc
